// global styles
// -------------

h2, h4, .callout {
    margin-top: 1rem;
}

h3:not(.foundation-default) {
    margin-top: 2rem;
}

h4.swatch {
  padding: 1rem;
  &.primary {
    background-color: $primary-color;
    color: $white;
    border: 1px solid $medium-gray;
  }
  &.secondary {
    background-color: $secondary-color;
    border: 1px solid $medium-gray;
  }
  &.accent {
    background-color: $medium-gray;
    border: 1px solid $medium-gray;
  }
  &.black {
    background-color: $body-font-color;
    border: 1px solid $medium-gray;
    color: $white;
  }
  &.white {
    background-color: $white;
    border: 1px solid $medium-gray;
  }

}

img.small {
    height: 3rem;
    float: left;
}

.tearsheet h3:not(.foundation-default) {
  border-bottom: solid 1px $medium-gray;
  margin-bottom: 1rem;
}

.callout.primary {
  color: $white;
}

/*// topbar styles
// -------------

.title-bar a, .top-bar, .top-bar ul, .top-bar a {
    background-color: $primary-color;
    color: $white;
    .menu-text {
        padding-left: 0;
    }
}

.dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a::after {
    border-color: $white transparent transparent;
}

ul.menu.secondary {
    padding-left: 1rem;
}

.no-link {
    cursor: default;
}*/

// category template
// -----------------

li.row {
    list-style: none;
    margin: 3rem;
}

li.events {
    list-style: none;
}

// detail template
// ---------------

.pagination {
    margin-top: 10rem;
}


// footer styles
// -------------

.full-width {
  max-width: $global-width;
}

.footer {
  background-color: $primary-color;
  margin-top: 3rem;
  padding: 2rem 0rem;
  color: $white;
  a {
    color: $white;
  }
}


@include breakpoint(large) {
    .footer {
      .columns:nth-child(n+2) {
        border-left: 1px solid scale-color($primary-color, $lightness: -30%);
        min-height: 240px;
      }
   } 
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}