// prevent FOUC on foundation responsive menu
//-------------------------------------------
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// global styles
// -------------

h2, h4, .callout {
    margin-top: 1rem;
}

h3:not(.foundation-default) {
    margin-top: 2rem;
}

img.small {
    height: 3rem;
    float: left;
}

.svg {
  position: relative;
  background-color: lightgray;
  padding: 0;
}

svg {
  fill: none;
  stroke: gray;
  stroke-width: 1;
}

// category template
// -----------------

li.row {
    list-style: none;
    margin: 3rem;
}

li.events {
    list-style: none;
}

// detail template
// ---------------

.pagination {
    margin-top: 10rem;
}


// footer styles
// -------------

.full-width {
  max-width: $global-width;
}

.footer {
  background-color: $light-gray;
  margin-top: 3rem;
  padding: 2rem 0rem;
}


@include breakpoint(large) {
    .footer {
      .columns:nth-child(n+2) {
        border-left: 1px solid scale-color($secondary-color, $lightness: -30%);
        min-height: 240px;
      }
   } 
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}